In [1]:
from dataclasses import dataclass

In [4]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
p = Person("shekhar" , 25)
print(p)
print(p.name)
print(p.age)

<__main__.Person object at 0x0000018672CA85D0>
shekhar
25

In [21]:
@dataclass
class Person2:
    name:str
    age:int

p2 = Person2("shekhar", 25)
print(p2)
print(p2.name)
print(p2.age)

Person2(name='shekhar', age=25)
shekhar
25

In [10]:
@dataclass
class Person3:
    name:str = "Shekhar"
    age:int = 25

p2 = Person3()
print(p2)
print(p2.name)
print(p2.age)

Person3(name='Shekhar', age=25)
Shekhar
25

In [20]:
@dataclass
class Person3:
    name:str = "Shekhar"
    age:int = 25

p2 = Person3("Vipul")
print(p2)
print(p2.name)
print(p2.age)

Person3(name='Vipul', age=25)
Vipul
25

In [18]:
@dataclass
class Person3:
    name:str = "Shekhar"
    age:int = 25

p2 = Person3("Vipul" , 21)
print(p2)
print(p2.name)
print(p2.age)

Person3(name='Vipul', age=21)
Vipul
21

In [ ]:
# Python Data Classes

'''In Python, the dataclass decorator is a feature introduced in Python 3.7 that provides a concise way to define 
classes primarily intended to store data. It automatically generates several special methods, such as __init__, 
__repr__, and __eq__, based on the class attributes you define. This simplifies the process of creating and 
working with data-focused classes. '''

In [19]:
#ONE DATA CLASS TO OTHER -

@dataclass
class Address:
    street:str
    city:str

@dataclass
class Insaan:
    name:str
    age:int
    address:Address

add = Address("abcd" , "jaipur")
ins = Insaan("shekhar" , 25 , add)
print(add)
print(add.street)
print(add.city)
print(ins)
print(ins.name)
print(ins.age)
print(ins.address)
print(ins.address.street)
print(ins.address.city)

Address(street='abcd', city='jaipur')
abcd
jaipur
Insaan(name='shekhar', age=25, address=Address(street='abcd', city='jaipur'))
shekhar
25
Address(street='abcd', city='jaipur')
abcd
jaipur

In [17]:
## INHERITANCE

@dataclass
class Address:
    street:str
    city:str

@dataclass
class Insaan(Address):
    name:str
    age:int

add = Address("abcd" , "jaipur")
ins = Insaan("shekhar" , 25, "abcd" , "jaipur")
print(add)
print(add.street)
print(add.city)
print(ins)
print(ins.name)
print(ins.age)
print(ins.street)
print(ins.city)

Address(street='abcd', city='jaipur')
abcd
jaipur
Insaan(street='shekhar', city=25, name='abcd', age='jaipur')
abcd
jaipur
shekhar
25

In [23]:
@dataclass
class Person2:
    name:str
    age:int

p2 = Person2("shekhar", 25)
print(p2)
print(p2.name)
print(p2.age)
p2.name = "Vipul"
p2.age = 21
print(p2)
print(p2.name)
print(p2.age)

Person2(name='shekhar', age=25)
shekhar
25
Person2(name='Vipul', age=21)
Vipul
21

In [25]:
@dataclass(frozen=True)
class Person2:
    name:str
    age:int

p2 = Person2("shekhar", 25)
print(p2)
print(p2.name)
print(p2.age)
p2.name = "Vipul"
p2.age = 21
print(p2)
print(p2.name)
print(p2.age)

Person2(name='shekhar', age=25)
shekhar
25

FrozenInstanceError: cannot assign to field 'name'